@import '../_variables';

$invalid-color: red;
$fixed-background-color: #eee;
$cur-grid-background-color: #2ecc71;

.grid {
  border-top: $border-width solid $theme-ug-light;
  border-left: $border-width solid $theme-ug-light;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font: $grid-font-size monospace, sans-serif;
  user-select: none;
}

.right-boundary {
  @include none-border-right();
}

.bottom-boundary {
  @include none-border-bottom();
}

.left-boundary {
  @include none-border-left();
}

.top-boundary {
  @include none-border-top();
}

.puzzled {
  background-color: $fixed-background-color;
}

.valid {
  color: $theme-ug-dark;
}

.invalid {
  color: $invalid-color;
}

.cur-grid {
  background-color: $cur-grid-background-color;
}