@import '../_variables';

$inValidColor: 'red';
$fixedBackgroundColor: #eee;

.grid {
  border: 0.1rem solid $theme-ug-light;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 2rem monospace, sans-serif;
}

.right-boundary {
  border-right: none
}

.bottom-boundary {
  border-bottom: none
}

.puzzled {
  background-color: $fixedBackgroundColor;
}

.valid {
  color: $theme-ug-dark;
}

.inValid {
  color: $inValidColor;
}