.mini {
  position: absolute;
  width: 18rem;
  height: 24rem;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-right: solid #888 0.1rem;
  border-bottom: solid #888 0.1rem;
  display: flex;
  flex-flow: row wrap;
  font: 2rem monospace, sans-serif;
  background-color: #ecf0f1;
  user-select: none; }
  .mini .mini-grid {
    border-top: 0.1rem solid #888;
    border-left: 0.1rem solid #888;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; }
  .mini .special-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid #888;
    border-left: 0.1rem solid #888;
    box-sizing: border-box; }

@media (min-width: 500px) {
  .mini {
    max-width: 180px;
    max-height: 240px; } }
