@import '../_variables';
.game {
  width: 90vw;
  height: 90vw;
  margin: 3rem auto;
  display: flex;
  flex-flow: row wrap;
}


@media (min-width: 500px) {
  .game {
    max-width: 400px;
    max-height: 400px;
  }
}