.header {
  height: 5rem;
  background-color: steelblue;
  font: 3rem monospace, sans-serif;
  margin: 1rem auto;
  padding: 1rem;
  width: 95%;
  color: #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
