.box {
  display: flex;
  flex-flow: row wrap;
  border-top: 0.1rem solid #888;
  border-left: 0.1rem solid #888; }

.bottom-box {
  border-bottom: 0.1rem solid #888; }

.right-box {
  border-right: 0.1rem solid #888; }
