.box {
  display: flex;
  flex-flow: row wrap;
  border-top: 0.1rem solid #333;
  border-left: 0.1rem solid #333; }

.bottom-box {
  border-bottom: 0.1rem solid #333; }

.right-box {
  border-right: 0.1rem solid #333; }
