@import '../variables';

.box {
  display: flex;
  flex-flow: row wrap;
  // border-right: 0.1rem solid $theme-ug-dark;
  // border-bottom: 0.1rem solid $theme-ug-dark;
  border-top: $border-width solid $theme-ug-dark;
  border-left: $border-width solid $theme-ug-dark;

}

.bottom-box {
  border-bottom: $border-width solid $theme-ug-dark;
}

.right-box {
  border-right: $border-width solid $theme-ug-dark;
}